<div class="container-about">
  <h1 id="titulo">About me</h1>

  <h1 id="linea">_____</h1>

  <p>
    Soy un apasionado desarrollador front que se enfoca en seguir creciendo
      para enfrentar nuevos retos. Esta mentalidad me ayuda a buscar constantemente
      la forma de mejorar y ampliar mis conocimientos y habilidades en el ámbito tecnológico.
      Como <span>Ingeniero de sistemas y técnico en diseño gráfico</span> 
      poseo capacidades de análisis y elaboración de distintos diseños y control de la información 
      brindada al usuario. Tengo la capacidad de trabajar en equipo y adaptarme de manera facil y asertiva
  </p>

  <div>
  <h1 id="titulo">Conocimientos</h1>
  <div class="cards">
    <div class="card">
      <img src="../../../assets/sitio-web.png" alt="">
      <div class="texts">
        <h3>Conocimientos web</h3>
        <p>JavaScript, TypeScript, HTML, CSS, SCSS, Diseño UI, Framework(Angular) </p>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/arte-digital.png" alt="">
      <div class="texts">
        <h3>Conocimientos en Diseño UI</h3>
        <p>Adobe xd, Figma, Phothoshop, Illustrator</p>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/celular.png" alt="">
      <div class="texts">
        <h3>Conocimientos Movil</h3>
        <p>Flutter, Dart</p>
      </div>
    </div>

    
    <div class="card">
      <img src="../../../assets/marketing.png" alt="">
      <div class="texts">
        <h3>Conocimientos en Marketing digital</h3>
        <p>Redes sociales, Meta, campañas publicitarias</p>
      </div>
    </div>
  </div>


  </div>
</div>
