<div class="container">
  <div class="cardprofile">
    <div class="info">
      <img id="photo" src="../assets/foto1.jpg" alt="foto de perfil" />
      <h1 id="name">Angel Gamez</h1>
      <h4 id="develop">Front-End Developer Junior</h4>
    </div>

    <div class="infoGeneral">
      <h5>_______________________________________</h5>

      <div class="cardData">
        <img src="../../../assets/email.png" alt="" />
        <div class="data">
          <h5 class="labeltitulo">Email</h5>
          <h4 class="labelName">angelogamez$hotmail.com</h4>
        </div>
      </div>

      <div class="cardData">
        <img src="../../../assets/cel.png" alt="" />
        <div class="data">
          <h5 class="labeltitulo">Phone</h5>
          <h4 class="labelName">(+57)301 5670973</h4>
        </div>
      </div>

      <div class="cardData">
        <img src="../../../assets/empresario.png" alt="" />
        <div class="data">
          <h5 class="labeltitulo">profession</h5>
          <h4 class="labelName">Systems Engineer</h4>
        </div>
      </div>

      <div class="cardData">
        <img src="../../../assets/ubicacion.png" alt="" />
        <div class="data">
          <h5 class="labeltitulo">Location</h5>
          <h4 class="labelName">Barranquilla, Atlántico, Colombia</h4>
        </div>
      </div>

      <div class="redes-sociales">
        <nav>
          <a href="">
            <img id="facebook" src="../../../assets/facebook.png" alt="" />
          </a>
          <a href="">
            <img id="linkedin" src="../../../assets/linkedin.png" alt="" />
          </a>
          <a href="">
            <img id="github" src="../../../assets/github.png" alt="" />
          </a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="twitter">
            <i class="fa-brands fa-twitter"> </i>
          </a>
        </nav>
      </div>
    </div>
  </div>

  <div class="portafolio">
    <div class="containerProfile">
      <!-- =============MENU============== -->
      <button id="btn-ini" (click)="selectOption('about')">About</button>
      <button (click)="selectOption('experience')">Resume</button>
      <button (click)="selectOption('projects')">Portafolio</button>
      <button id="btn-fin" (click)="selectOption('contact')">Contact</button>
    </div>

    <div class="me">
      <div *ngIf="selectedOption === 'about'">
      <app-about></app-about>
      </div>

      <div *ngIf="selectedOption === 'experience'">
        <!-- Contenido de Experiencia -->
        <app-resume></app-resume>
      </div>
      
      <div *ngIf="selectedOption === 'projects'">
        <!-- Contenido de Contacto -->
      <app-portafolio></app-portafolio>
      </div>
      
      
      <div *ngIf="selectedOption === 'contact'">
        <!-- Contenido de Mis Proyectos -->
        <p>Este es el contenido de Experiencia</p>
      </div>

      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>
