<div class="container-resume">
  <div class="titulo-and-hv">
    <div class="title">
      <h1 id="titulo">Experiencia laboral</h1>
      <h1 id="linea">__________</h1>
    </div>
    <div class="hv">
      <a href="../../../assets/HOJA DE VIDA ANGEL GAMEZ 2024.pdf" download="HV-AngelGamez">
        <button>Descargar hv</button>
      </a>
    </div>
  </div>

  <div class="experiencia">
    <div class="megac">
      <h3>Community Manager - Desarrollador UI, Desarrollador Front</h3>
      <h4>Megac S.A.S |Mayo 2023 - Agosto 2023</h4>
      <br />
      <ul>
        <li>Elaboración de Mockups para App en Adobe Xd</li>
        <li>Programación Front en Flutter y Dart</li>
        <li>Elaboración de piezas gráficas</li>
        <li>
          Base de datos, remarketing, asesoria con clientes, Email Marketing
        </li>
        <li>Elaboración de campañas publicitarias en Facebook ADS</li>
      </ul>
    </div>
    <div class="gamez">
      <h3>Community Manager</h3>
      <h4>Gámez Arias Inmobiliaria S.A.S |Enero 2022 - Diciembre 2022</h4>
      <br />
      <ul>
        <li>
          Elaboración de piezas gráficas, edición de videos y registros
          fotográficos
        </li>
        <li>Asesoría con clientes por medios digitales</li>
        <li>Campañas publicitarias en Facebook ADS</li>
        <li>Remarketing</li>
      </ul>
    </div>
    <div class="prediac">
      <h3>Analista de Marketing Digital</h3>
      <h4>Grupo Prediac S.A.S |Agosto 2017 - Febrero 2020</h4>
      <br />
      <ul>
        <li>Elaboración de campañas publicitarias en Facebook ADS</li>
        <li>Posicionamiento de busqueda en Google ADS</li>
        <li>
          Publicacion de inmuebles en canales digitales(OLX, FincaRaiz,
          Metrocuadrado, WASI, PROPERATI)
        </li>
        <li>
          Elaboración de piezas gráficas, edición de videos y registros
          fotográficos
        </li>
        <li>
          Base de datos, remarketing, asesoria con clientes, Email Marketing
        </li>
      </ul>
    </div>
  </div>
</div>
